*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.container{
	width: 1100px;
	margin:auto; 
}
.flex{
	display: flex;
	flex-wrap: wrap;
}

/* ========= Logo Part ======== */

header{
	background: #f9fafd;
	overflow: hidden;
	padding: 15px 40px;
	border-bottom: 1px solid #00000033;
}
.logo{
	width: 20%;
	float: left;
}
.logo a{
	text-decoration: none;
	color: #090009;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.logo a h1{
	font-size: 17.2px;
}

/* ======== Menu Part ======== */

nav{
	width: 80%;
	float: left;
}
nav ul{
	margin: 0;
	padding: 0;
	text-align: right;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	color: #050100;
	font-size: 20px;
	padding: 10px 20px;
	display: block;
}
nav ul li a:hover{	
	background: #090009;	
	color: white;
}

/* ----------home section------ */

.home{
	background-image: url('../images/smart1.png');
	background-repeat: no-repeat;
}

.col{
	width: 50%;
	flex:0 0 auto;
}

.left{
	padding: 100px 37px;
}
.left h3{
	font-size: 25px;
	color: #333;
}
.left h1{
	font-size: 48px;
	padding: 10px 0px;
	color: #ed4b72;
}
.left p{
	padding-bottom: 20px;
	font-size: 18px;
}

.right img{
	width: 500px;
	margin-top: 20px;
}

.hire{
    text-decoration: none;
    background-color: #ED4B72;
    color: #fff;
    padding: 10px 50px;
    border-radius: 7px;
    margin-top:5px
}


/* -------footer section------ */

footer{
	background: #282C2F;
	overflow: hidden;
	text-align: center;
	color: #fff;
	padding: 14px 0;
}

footer p{
	text-align: center;
}
/* ---------about section------- */

p{
    text-align:justify;
}
h1{
    text-align: center;
    color:teal;
}
h2{
   font-size: 40px;
   color: #e54b4b !important;
}
.topleftimg{
    
    padding-left: 140px;
    display: block;
    float: left;
    overflow:hidden;
    width:"500px";
}
.toprigtbio{

    padding-left: 100px;
    overflow:hidden;
    padding: 60px;
    width:40%;
}
.cvbutton{
    text-decoration: none;
    background-color: #ED4B72;
    color: #fff;
    padding: 10px 50px;
    border-radius: 7px;
    margin-top:5px
}
.toprigtbio p{
    margin-bottom: 45px;
}
.bg-section {
    background-image: url(../images/smart2.png);
    height: 800px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.edu{

    margin-bottom: 50px;
    padding: 100px 0;
}
table{
    width:60%;
}



